<div id="title">
    <h1>{{title}}</h1>
    <h2> {{subtitle}}</h2>
    <p>{{web}}</p>
</div>

<article class="about">
    <h2>Sobre Mi</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultricies volutpat dolor. Vestibulum ullamcorper eros in congue finibus. Fusce laoreet tristique magna sed posuere. Phasellus volutpat mattis sapien, commodo convallis turpis vestibulum non. In non vestibulum magna. Duis et turpis non magna lacinia varius quis eu arcu. Quisque feugiat malesuada rutrum. Praesent enim nisl, consectetur et arcu eget, mattis pulvinar justo. Proin porta aliquam finibus. Suspendisse feugiat ac velit in ullamcorper. Curabitur nec nulla vitae nisl fringilla iaculis. Duis rutrum accumsan consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pharetra convallis lobortis. 
    </p>
</article>
